body {
    background-color: black;
    color: yellow;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: yellow;

    background: linear-gradient(270deg, red, orange, yellow, green, blue, purple);
    background-clip: text;
    -webkit-background-clip: text;

    font-size: 120px;
    border: 1px solid yellow;
    padding: 50px 100px;
}

a:hover {
    text-decoration: underline;
}

#info {
    font-size: 30px;
    border: 1px solid yellow;
    padding: 50px 100px;
}